*.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Django stuff:
*.log
settings.py
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

